.s10{
    color: rgb(88, 206, 186);
}
.s9{
    color: rgb(88, 206, 194);
}
.s8{
    color: rgb(88, 206, 169);
}
.s7{
    color: rgb(88, 206, 110);
}
.s6{
    color: rgb(155,206,88);
}
.s5{
    color: rgb(196, 206, 88);
}
.s4{
    color: rgb(206, 180, 88);
}
.s3{
    color: rgb(206, 155, 88);
}
.s2{
    color: rgb(206, 143, 88);
}
.s1{
    color: rgb(206, 98, 88);
}

.systemName{
    font-size: 3.2em;
    line-height: 1.1;
}
/* h1{
    display: inline;
} */

/* p{
    display: inline-block;
} */